<style>
    .navBox {
        float: right;
        width: 15%;
        border: 1px solid black;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 5px;
        background: #2c313a;
    }

    .navBox p {
        padding: 6px;
        text-align: center;
    }
</style>
<div id="navBox" class="nav">
    <p>
        <a href="/">control panel</a>
        <a href="/orders">orders</a>
        <a href="/trades">trades</a>
        <a href="/config">config</a>
        <a href="/logs">logs</a>
    </p>
</div>
